<div
  style="font-family: Roboto"
  class=""
  [ngClass]="{
    ligth: ligth,
    dark: dark,
    'font-mono': font === 'Mono'
  }"
>
  <div class="app min-h-screen dark:bg-slate-900 dark:text-white">
    <div class="max-w-4xl mx-auto px-10">
      <app-navigation
        (themeColor)="themeColorChanger($event)"
        (Globalfont)="handlerFont($event)"
      ></app-navigation>
      <div
        class="mx-auto text-center mt-10 relative z-10"
        [ngStyle]="{
          'font-family': font
        }"
      >
        <app-browser></app-browser>
        <app-maining></app-maining>
      </div>
    </div>
  </div>
</div>
